flows_pixelcheer.json
[{"id":"65b41b8.b727ae4","type":"debug","name":"","active":false,"complete":false,"x":384,"y":198.99995851516724,"z":"5cc289d4.079548","wires":[]},{"id":"e8585101.96cf3","type":"twitter in","twitter":"","tags":"cheerlights,pixelcheer","user":"false","name":"cheerlights,pixelcheer","topic":"tweets","x":127.00002670288086,"y":201.9999542236328,"z":"5cc289d4.079548","wires":[["65b41b8.b727ae4","56aefb62.55f79c"]]},{"id":"56aefb62.55f79c","type":"function","name":"parse @Cheerlight colours","func":"msg.payload = msg.payload.toLowerCase();\n\n// Find any words we're interested in - colours and images\nvar result = msg.payload.match(\n/bell|bauble|frankensanta|godjul|happynewyear|jumper|nose|peacefulsanta|prints|pudding|reindeer|sillysnowman|sleepysanta|tree|xmasfc|yaksmas|red|green|blue|cyan|white|warmwhite|purple|magenta|yellow|orange|black|pink|oldlace/g);\n\n//    red (#FF0000)\n//    green (#008000)\n//    blue (#0000FF)\n//    cyan (#00FFFF)\n//    white (#FFFFFF)\n//    warmwhite (#FDF5E6)\n//    oldlace (#FDF5E6)\n//    purple (#800080)\n//    magenta (#FF00FF)\n//    yellow (#FFFF00)\n//    orange (#FFA500)\n//    pink (#FFC0CB)\n\nconsole.log(result);\n\nmsg = [];\nfor (var w in result) {\n  if (result[w].match(/bell|bauble|frankensanta|godjul|happynewyear|jumper|nose|peacefulsanta|prints|pudding|reindeer|sillysnowman|sleepysanta|tree|xmasfc|yaksmas/g)) {\n    msg.push({topic:\"pixelcheer\", payload:result[w]});\n  } else {\n    msg.push({topic:\"cheerlights\", payload:result[w]});\n  }\n}\n// and clear down to black afterwards\n//msg.push({payload:\"black\"});\n\n//console.log(msg);\nreturn [msg];","outputs":1,"x":335.00002670288086,"y":130.99993896484375,"z":"5cc289d4.079548","wires":[["3f0b0d80.24ccaa"]]},{"id":"3f0b0d80.24ccaa","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":554.0000610351562,"y":142.9999542236328,"z":"5cc289d4.079548","wires":[["81221b7.0150fe8","ccb6b543.eb5d1","4114e20d.fb8014"]]},{"id":"81221b7.0150fe8","type":"debug","name":"","active":true,"complete":false,"x":741.0002136230469,"y":83.99999618530273,"z":"5cc289d4.079548","wires":[]},{"id":"ccb6b543.eb5d1","type":"redis out","hostname":"localhost","port":6379,"name":"","key":"","structtype":"string","x":787.0000267028809,"y":165,"z":"5cc289d4.079548","wires":[]},{"id":"4114e20d.fb8014","type":"pixelcheer out","name":"","server":"localhost","x":774.0000267028809,"y":218,"z":"5cc289d4.079548","wires":[]},{"id":"98f8ae0f.dcc84","type":"inject","name":"","topic":"","payload":"#cheerlights red #bauble","payloadType":"string","repeat":"","crontab":"","once":false,"x":150.00002670288086,"y":63,"z":"5cc289d4.079548","wires":[["56aefb62.55f79c"]]}]
